[submodule "back_end/cmake"]
	path = back_end/cmake
	url = https://github.com/fasto/cmake.git
[submodule "back_end/src/third-party/ini/inih"]
	path = back_end/src/third-party/ini/inih
	url = https://github.com/benhoyt/inih.git
