[submodule "back_end/cmake"]
	path = back_end/cmake
	url = https://github.com/fasto/cmake.git
[submodule "back_end/src/common"]
	path = back_end/src/common
	url = https://github.com/fasto/common.git
[submodule "back_end/src/third-party/ini/inih"]
	path = back_end/src/third-party/ini/inih
	url = https://github.com/benhoyt/inih.git
[submodule "back_end/tests/gtests"]
	path = back_end/tests/gtests
	url = https://chromium.googlesource.com/external/googletest
